.Input {
    /* margin-bottom: 15px; */
}

.Input input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 2px;
    /* margin: 0 0 5px; */
    width: 60px;
    outline: none;
    transition: all 300ms ease-in-out;
}

.invalid {
    border: 2px solid red;
}

.Input span {
    color: red;
}

/* Для модального */

.modal {
}

.modal input {
    width: 370px;
    align-self: center;
}

.auth input {
    width: 400px;
    margin-bottom: 15px;
}
