.stat {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-bottom: 10px;
  min-width: 450px;
}

.main h3 {
  text-align: center;
  margin: 10px 0;
  font-weight: 400;
}
