.ViewItem {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 200px;
    max-height: 400px;
    margin: 0 auto;
    padding: 0;
}

li {
    /* padding-right: 5px; */
}
