.accounting {
  height: max-content;
  max-width: 100%;
  background: #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: black;
  padding: 0 0 5px 0;
  margin-top: 10px;
}

.toggle {
  display: flex;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
}

.toggle div {
  padding: 5px;
  cursor: pointer;
  flex: 1;
  border-radius: 5px 5px 0 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.workArea {
  display: flex;
  align-items: flex-start;
  margin: 5px;
  min-height: 150px;
}
