.accounting {
  padding: 0 0 5px 0;
}

.toggle {
  display: flex;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
}

.toggle div {
  padding: 5px;
  cursor: pointer;
  flex: 1;
  border-radius: 5px 5px 0 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.workArea {
  display: flex;
  align-items: flex-start;
  margin: 5px;
  min-height: 150px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer > div {
  padding-right: 20px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.m-enter {
  transform: translate(-50%, -400px);
  opacity: 0;
  transition: all 400ms;
}

.m-enter-active {
  opacity: 1;
  transform: translate(-50%, 0);
}

.m-exit-active {
  transform: translate(-50%, -400px);
  opacity: 0;
  transition: all 400ms;
}
