.Layout {
  max-width: 520px;
  margin: 0 auto;
  padding: 5px;
}

.header {
  background: none;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #bebebe;
}

.header h1 {
  margin: 1rem;
}

.header nav {
  display: flex;
  align-items: baseline;
}

.header :only-child:hover {
  cursor: pointer;
  color: rgba(240, 87, 108, 1);
}

main {
  height: max-content;
  max-width: 100%;
  background: #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: black;
  /* padding: 5px; */
  margin-top: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

a.active {
  color: rgba(240, 87, 108, 1);
}

.auth {
  border-radius: 2px;
  height: 18px;
}
