.Auth {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-grow: 1;
  width: 100%;
  text-align: center;
}

.Auth > div {
  width: 100%;
  max-width: 350px;
  padding: 0 20px;
}

.Auth h2 {
  margin: 0 5px;
}

.AuthForm {
  padding: 15px;
}

.Auth input {
  width: 300px;
  margin: 8px auto 8px;
}

.Auth button {
  margin: 8px 10px 0;
}

.Auth label {
  font-size: 1rem;
}
