.categoryList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

li div {
  min-width: 130px;
  margin-right: 20px;
}

li span {
  text-align: right;
}
